body, nav {
   background-color: #6A702C; 
   background-image: url("../public/bg.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/* Navigation */
.navbar-brand {
  color: #E46C1C !important;
}

/* Link */
a {
  color: #E46C1C;
  text-decoration: none;
}

a:hover {
  color: #f87f1c;
}

.link {
  color: #E46C1C;
  text-decoration: none;
}

.link:hover {
  color: #f87f1c;
}

.nav-link {
  letter-spacing: 1px;
}

.nav-link:hover::before, 
.nav-link.active::before {
  position: absolute;
  content: attr(data-title);
  border-bottom: 4px solid #E46C1C;
  color: transparent;
}

nav a.active > i {
  color: #E46C1C;
}

nav a:hover > i {
  color: #f87f1c;
}


/* Button */
.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #E46C1C;
  border-color: #E46C1C
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #f87f1c;
  border-color: #f87f1c
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(228 108 28 / 50%)!important;
}

.btn-primary:disabled, 
.btn-primary.disabled {
  background-color: grey;
  border-color: grey;
}

.btn-sm {
  padding: 0em 1em;
}


/* Form */
.form-control,
.form-select {
  border: none;
  border-radius: 0;
  background-color: rgb(242 242 242 / 70%);
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  background-color: rgb(250 250 250 / 70%);
}

.modal .form-control,
.modal .form-select {
  border: none;
  border-radius: 0;
  background-color: rgb(250 250 250);
}

.modal .form-control:focus,
.modal .form-select:focus {
  box-shadow: none;
  background-color: rgb(242 242 242);
}

.expand {
  min-height: 100px!important;
}

.expand:focus {
  min-height: 200px!important;
}


/* Modal Box */
.modal-content {
  border: 0;
  border-radius: 0;
}

/* Alert Box */
.alert {
  border-radius: 0;
  border: 0;
}

/* Spacing */
.mb-6 {
  margin-bottom: 5rem !important;
}

.mt-6 {
  margin-top: 5rem !important;
}

/* Blockquote */
.blockquote-footer {
  margin-top: 0;
  margin-bottom:0.5rem;
}


/* Projects */
.proj__item {
  background-color: rgb(250 250 250 / 70%);
  text-overflow: ellipsis;
  overflow: hidden; 
}

.proj__label {
  font-size: 0.9em;
}

/* Milestones */
.milestone__item {
  background-color: rgb(250 250 250 / 70%);
  text-overflow: ellipsis;
  overflow: hidden; 
}

.milestone__label {
  font-size: 0.9em;
}

/* Bugs */
.bug__item {
  background-color: rgb(250 250 250 / 70%);
  text-overflow: ellipsis;
  overflow: hidden; 
}

.bug__label {
  font-size: 0.9em;
}